/* Author: Mark Faderon */

@font-face { /* TITLES */
	font-family: "Elkwood";
	src: url('fonts/Elkwood.ttf');
}

@font-face { /* TEXT */
	font-family: "AvenirNextLTPro-Regular";
	src: url('fonts/AvenirNextLTPro-Regular.otf');
}

/* GLOBAL */

* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url('images/background.png');
	background-size: 50px;
	background-repeat: repeat;
}

ul {
	list-style-type: none;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.textCenter {
	text-align: center;
}

.fontSizeSmall {
	font-size: x-small;
}

.verticalAlignTop {
	vertical-align: top;
}

.ulCircleStyle {
	list-style-image: url('images/circle.png');
}

.transparent-Dark-BG {
	background: rgba(0, 0, 0, 0.3);
}


.highlight { 
	color: #00A6A4;
	font-weight: bold;
}

.button {
	font-family: "Elkwood";
	background: #EFD21A !important;
	color: #329EA1 !important;
	padding: 10px;
	font-size: 25px;
	text-decoration: none;
}

input[type=checkbox].css-checkbox {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; width:1px; 
	margin:-1px;
	padding:0; 
	border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left: 24px;
	height: 19px; 
	display:inline-block;
	line-height:19px;
	background-repeat:no-repeat;
	background-position: 0 -1px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -20px;
}

label.css-label {
	background-image:url('images/checkbox.png');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#container {
	width: 1000px;
	min-height: 600px;
	margin: 0 auto;
	background: #F3F3F3;
}

/* HEADER */

header {
	width: 100%;
	height: 100px;
	background: white;
}

#logo {
	height: 70px;
	padding: 20px 0 0 15px;
	float: left;
}

header ul {
	font-family: "Elkwood";
	font-size: 0; /* removes invisible space */
	width: 207px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -103.5px;
}

header ul li {
	display: inline-block;
	font-size: large;
	padding: 10px;
	box-shadow: 1px 1px 5px #888888;
	background: #329EA1;
}

header ul li a {
	display: inline-block;
	color: black;
	padding: 0 4px;
	text-decoration: none;
	color: #329EA1;
	background: white;
}

header ul li#active {
	background: white;
}

header ul li#active a {
	text-decoration: underline;
}

#toolbarRight {
	float: right;
	height: 100px;
	width: 315px;
	margin-right: 45px;
	line-height: 100px;
}

#toolbarRight img {
	vertical-align: middle;
}

/* MAIN NAV */

#mainnav {
	width: 100%;
	height: 50px;
	background: #F2F2EF;
	font-family: "Elkwood";
	text-align: center;

	border-bottom: 15px solid #329EA1;
}

#mainnav ul {
	list-style-type: none;
	font-size: 0; /* removes invisible space */
}

#mainnav ul li {
	display: inline-block;
	font-size: large;
}

#mainnav ul li a {
	display: inline-block;
	line-height: 50px;
	height: 50px;
	text-decoration: none;
	padding: 0 15px;
	border-left: 1px solid #B3B3B3;
}

#mainnav ul li:last-child a {
	border-right: 1px solid #B3B3B3;
}

#mainnav ul li a:visited {
	color: black;
}

#mainnav ul li a:hover,
#mainnav ul li a#selected {
	color: white;
	background: #B3B3B3;
	text-decoration: underline;
}

nav#mainnav ul li a img {
	vertical-align: middle;
	padding-right: 5px;
}

nav#mainnav ul li:last-child a img {
	padding-right: 0;
	margin-left: -10px;
}

/* CONTENT */

#contentArea {
	position: relative;
	overflow: hidden;
}

#content {
	width: 700px;
	min-height: 1000px;
	float: left;
	padding: 50px;
	background: #F3F3F3;
}

#form {
	background: #00A6A4;
	color: white;
	width: 700px;
	min-height: 200px;
	font-family: "AvenirNextLTPro-Regular";
	font-size: 20px;
	box-shadow: 0 0 30px #000000;
}

#form a {
	color: white;
}

#form ul li {
	margin-top: 25px;
}

#formHeader {
	padding: 10px 25px 0 50px;
}

#formHeader #heading {
	font-family: "Elkwood";
	text-decoration: underline;
	font-size: 50px;
	padding-top: 50px;
	display: inline-block;
}

#formHeader span.floatRight {
	font-size: small;
}

#formHeader span.floatRight span {
	vertical-align: middle;
}

#formFooter {
	clear: both;
	text-align: right;
	padding-right: 50px;
	width: 100%;
	height: 100px;
	padding-top: 25px;
	box-sizing: border-box; /* 100% width + padding */
}


#sidebar {
	width: 200px;
	height: 100%;
	
	padding-top: 25px;
	text-align: center;
	background: #17738F;
	box-sizing: border-box;
	position: absolute;
	right: 0;
}

/* SUB NAV */

#subnav {
	width: 100%;
	height: 250px;
	clear: both;
}

#subnav_head {
	font-family: "Elkwood";
	background: #329EA1;
	width: 100%;
	height: 60px;
	line-height: 65px;
}

#subnav_head ul {
	text-align: center;
	color: white;
}

#subnav_head ul li {
	display: inline;
	padding-right: 75px;
	font-size: xx-large;
}

#subnav_head ul li:last-child {
	padding-right: 0;
}

#subnav_body {
	background: #F2F2EF;
	font-family: "AvenirNextLTPro-Regular";
	width: 100%;
	height: 300px;
}

#subnav_body a {
	color: #329EA1;
	text-decoration: none;
}

#subnav_body ul li a:hover {
	color: black;
	text-decoration: underline;
}

#subnav_body div {
	padding-top: 50px;
	height: 250px;
	float: left;
}

#subnav_Tools {
	width: 150px;
	padding-left: 160px;
}

#subnav_Company {
	width: 195px;
	padding-left: 10px;
}

#subnav_Connect {
	width: 190px;
}

footer {
	background: #272627;
	font-family: "AvenirNextLTPro-Regular";
	clear: both;
	min-height: 50px;
}

footer nav {
	text-align: center;
}

footer nav ul li {
	display: inline;
	color: #329EA1;
	padding-left: 50px;
	line-height: 50px;
}

footer nav ul li a {
	color: #329EA1;
	text-decoration: none;
}

footer nav ul li a:hover {
	text-decoration: underline;
}

/* EMPLOYERS - POST A JOB */

#e_postjobLeft,
#e_postjobRight {
	box-sizing: border-box;
	height: 425px;
}

#e_postjobLeft {
	padding-left: 75px;
}

#e_postjobRight {
 	margin-right: 50px;
}

#e_postjob_perTime input {
	margin: 3px 3px 3px 4px;
}

#e_postjob_perTime label {
	vertical-align: middle;
}

/* CREATIVES - WORK EXPERIENCE */

#c_workexp_banner {
	width: 700px;
	height: 400px;
	background: url('images/banner-workexp.jpg');
	position: relative;
	background-position: center left;
}

#c_workexp_banner p {
	font-family: "Elkwood";
	color: white;
	font-size: 50px;
	text-align: center;
	width: 100%;
	height: 150px;
	line-height: 160px;
	
	position: absolute; /* MAKES IT AT BOTTOM OF DIV (NEEDS POSITION:RELATIVE FROM PARENT) */
	bottom: 0;
}

#c_workexp_StartY,
#c_workexp_EndY {
	width: 56px;
}

#c_workexpLeft,
#c_workexpRight {
	height: 300px;
}

#c_workexpLeft {
	padding-left: 50px;
}

#c_workexp_CurWorkHereCB {
	float: right;
	padding-right: 60px;
	line-height: 30px;
}

#c_workexpRight {
	padding-right: 30px;
}

/* CREATIVES - CONTACT DETAILS */

#c_cDetails_banner {
	width: 100%;
	height: 400px;
	background: url('images/banner-contactDetails.jpg');
	position: relative;
}

#c_cDetails_banner p {
	font-family: "Elkwood";
	color: white;
	font-size: 50px;
	text-align: center;
	width: 100%;
	height: 150px;
	line-height: 160px;
	
	position: absolute; /* MAKES IT AT BOTTOM OF DIV (NEEDS POSITION:RELATIVE FROM PARENT) */
	bottom: 0;
}

#c_cDetailsLeft {
	padding-left: 75px;
}

#c_cDetailsRight {
	padding-right: 85px;
}

/* HOME - LOGIN */

#login {
	float: right;
	height: 100%;
	padding: 15px;
	box-sizing: border-box;
	font-family: "AvenirNextLTPro-Regular";
}

#login input {
	box-shadow: 1px 1px 5px #888888;
	border: none;
	padding: 2px;
}

#loginIcon {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

#loginBtn {
	text-decoration: none;
	background: #CD68A8;
	color: white;
	padding: 2px 5px;
	font-family: "Elkwood";
}

label[for=rememberMe] {
	margin-right: 45px;
}

#login a {
	color: #00A6A4;
	text-decoration: none;
}

#loginContent {
	width: 100%;
	min-height: 667px;
	background-image: url('images/banner-home.jpg');
	background-size: 100% 667px;
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding-top: 50px;
}

#loginContent p {
	color: white;
	font-size: 50px;
	text-align: center;

	height: 150px;
	line-height: 150px;
	box-sizing: border-box;
	font-family: "Elkwood";
}

#homeImage {
	width: 100%;
}

/* CREATIVES - A HELPING HAND */

#c_helphand_banner {
	width: 100%;
	height: 650px;
	background-image: url('images/banner-helphand.jpg');
	position: relative;
}

#c_helphand_banner p {
	color: white;
	font-size: 50px;
	text-align: center;
	width: 100%;

	height: 150px;
	line-height: 160px;
	box-sizing: border-box;
	font-family: "Elkwood";
	
	position: absolute;
	bottom: 0;
}

#c_helphand_form {
	background: #00A6A4;
	color: white;
	width: 700px;
	min-height: 175px;
	font-family: "AvenirNextLTPro-Regular";
	font-size: large;
	box-shadow: 0 0 30px #000000;
	padding-top: 50px;
	box-sizing: border-box;
}

#c_helphand_nav {
	margin-top: 50px;
	font-family: "AvenirNextLTPro-Regular";
	box-shadow: 0 0 30px #000000;
}

#c_helphand_nav ul {
	font-size: 0;
}

#c_helphand_nav ul li {
	display: inline-block;
}

#c_helphand_nav ul li a {
	width: 233.33px;
	height: 150px;
	display: inline-block;
	
	font-size: medium;
	background: white;
	color: black;
	padding-top: 15px;
	text-decoration: none;
	
	text-align: center;
	vertical-align: middle;
	box-shadow: 0 0 3px #000000;
}

#c_helphand_nav ul li a:hover {
	background: #00A6A4;
	color: white;
	text-decoration: underline;
}

/* CREATIVES - 2.6 SUCCESS */

#c_success_banner {
	width: 100%;
	height: 500px;
	background-image: url('images/banner-success.jpg');
	background-position: center -200px;
	position: relative;
}

#c_success_banner p {
	color: white;
	font-size: 50px;
	text-align: center;
	width: 100%;

	height: 150px;
	line-height: 160px;
	box-sizing: border-box;
	font-family: "Elkwood";
	
	position: absolute;
	bottom: 0;
}

#formHeader h2 {
	font-family: "Elkwood";
	text-decoration: underline;
	font-weight: normal;
	margin-top: 25px;
}

#c_successContent {
	padding: 35px 100px 30px 50px;
}

.button img {
	vertical-align: middle;
	padding-right: 5px;
}

#c_success_check-icon {
	height: 30px;
	padding-left: 7px;
	vertical-align: middle;
}


/* CREATIVES - HELPING HAND - READY FOR INTERVIEW */

#c_ready4interview_banner {
	width: 100%;
	height: 350px;
	background-image: url('images/banner-interview1.jpg');
	background-size: 100%;
	position: relative;
}

#c_ready4interview_banner p {
	color: white;
	font-size: 50px;
	text-align: center;
	width: 100%;
	
	padding-top: 25px;
	height: 150px;
	box-sizing: border-box;
	font-family: "Elkwood";
	
	position: absolute;
	bottom: 0;
}

#c_ready4interview_form {
	background: #00A6A4;
	color: white;
	width: 700px;
	height: 75px;
	text-align: center;
	line-height: 75px;
	font-family: "AvenirNextLTPro-Regular";
	box-shadow: 0 0 30px #000000;
}

#c_ready4interview_content {
	margin-top: 50px;
	background: white;
	box-shadow: 0 0 30px #000000;
	width: 700px;
	min-height: 900px;
	font-family: "AvenirNextLTPro-Regular";
}

#c_ready4interview_left {
	padding: 50px 0 0 30px;
}

#c_ready4interview_left li {
	float: left;
	padding-bottom: 10px;
}

#c_ready4interview_left img {
	float: left;
}

#c_ready4interview_left p {
	width: 550px;
	float: left;
	padding: 20px 0 0 15px;
}

#c_ready4interview_content p.doubleline {
	padding-top: 15px;
}

#interview2img {
	background: url("images/banner-interview2.jpg");
	background-position: 0 300px;
	background-size: 100%;
	height: 225px;
	width: 700px;
	clear: both;
}

#c_ready4interview_right {
	padding: 10px 30px 0 0 ;
}

#c_ready4interview_right li {
	float: right;
	padding-bottom: 10px;
}

#c_ready4interview_right img {
	float: right;
}

#c_ready4interview_right p {
	text-align: right;
	width: 550px;
	float: right;
	padding: 20px 15px 0 0;
}


/* CREATIVES - SIGN UP & EMPLOYERS - SIGN UP */

#c_signup {
	background: url("images/banner-creatives_signup.jpg");
	width: 100%;
	height: 465px;
	position: relative;
	background-position: left -50px;
}

#e_signup {
	background: url("images/banner-employers_signup.jpg");
	width: 100%;
	height: 485px;
	position: relative;
	background-position: left -300px;
	background-size: 100%;
}

#c_signup p, 
#e_signup p {
	color: white;
	font-size: 40px;
	text-align: center;
	width: 100%;
	
	padding-top: 15px;
	height: 140px;
	box-sizing: border-box;
	font-family: "Elkwood";
	
	position: absolute;
	bottom: 0;
}

#c_signup p span, 
#e_signup p span {
	font-size: 55px;
}

#c_signupContent, 
#e_signupContent {
	padding: 50px 0 0 50px;
}

#c_signupContent img, 
#e_signupContent img {
	vertical-align: middle;
}

#c_signupContent input, 
#e_signupContent input {
	border: none;
	height: 20px;
}

#c_signup_user, 
#e_signup_user {
	width: 300px;
	margin-right: 50px;
}

#c_signup_rememberMeLabel, 
#e_signup_rememberMeLabel {
	margin-left: 22px;
}

label[for=c_signup_rememberMe], #c_signup_forgotpass, 
label[for=e_signup_rememberMe], #e_signup_forgotpass  {
	font-size: medium;
}

#c_signup_forgotpass, #e_signup_forgotpass {
	margin-left: 278px;
}

#c_signup_loginBtn, #e_signup_loginBtn {
	text-decoration: none;
	background: #CD68A8;
	color: white;
	padding: 2px 5px;
	font-family: "Elkwood";
	font-size: 30px;
	line-height: 100px;
	margin-left: 465px;
}

#c_signup_loginBtn img, #e_signup_loginBtn img {
	height: 25px;
}

/* EMPLOYERS - POST A JOB - JOB REQUIREMENTS */

#e_jobreqLeft {
	margin-left: 75px;
}

#e_jobreq_OnlyLocal, label[for=e_jobreq_OnlyLocal] {
	margin-top: 50px;
}

#e_jobreqRight {
	margin: 70px 100px 0 0;
}

/* WELCOME PAGE */

#welcomePageContent {
	background: url("images/banner-welcomepage.jpg");
	width: 100%;
	height: 600px;
	background-size: 100%;
	background-position: left -400px;
	position: relative;
}

#welcomePageContent p {
	color: white;
	font-size: 70px;
	text-align: center;

	padding-top: 10px;
	height: 150px;
	box-sizing: border-box;
	font-family: "Elkwood";
	
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -75px;
}

#welcomePageContent p span {
	font-size: xx-large;
	font-family: "AvenirNextLTPro-Regular";
}

#welcomePageNav {
	height: 50px;
	position: absolute;
	bottom: 0;
	line-height: 50px;
	width: 100%;
	text-align: center;
}

#welcomePageNav li {
	display: inline;
}

#welcomePageNav a {
	color: white;
	text-decoration: none;
	border-right: 2px solid white;
	padding: 0 5px;
}

#welcomePageNav ul li:last-child a {
	border-right: none;
}

/* 8.1 A HELPING HAND - HOW TO WRITE PERFECT RESUME / CV */

#c_writeResumeCV_banner {
	width: 100%;
	height: 350px;
	background-image: url('images/banner-helphand-resume.jpg');
	background-size: 100%;
	position: relative;
}

#c_writeResumeCV_banner p {
	color: white;
	font-size: 50px;
	text-align: center;
	width: 100%;
	
	padding-top: 25px;
	height: 150px;
	box-sizing: border-box;
	font-family: "Elkwood";
	
	position: absolute;
	bottom: 0;
}

#c_writeResumeCV_form {
	background: #00A6A4;
	color: white;
	width: 700px;
	padding: 25px 30px;
	text-align: center;
	font-family: "AvenirNextLTPro-Regular";
	box-shadow: 0 0 30px #000000;
	box-sizing: border-box;
}

#c_writeResumeCV_content h2 {
	font-family: "Elkwood";
	color: #00A6A4;
	text-align: center;
	font-weight: normal;
	font-size: 40px;
}

#c_writeResumeCV_content p {
	font-family: "AvenirNextLTPro-Regular";
}

#c_writeResumeCV_content li {
	width: 100%;
	background: white;
	margin-top: 30px;
	padding-top: 10px;
	box-shadow: 0 0 20px #000000;
	position: relative;
	min-height: 275px;
	box-sizing: border-box;
}

#c_writeResumeCV_content li > img {
	margin: 0 auto;
	display: block;
}

#c_writeResumeCV_content li > div {
	background: #00A6A4;
	width: 140px;
	height: 140px;
}

#c_writeResumeCV_content li > div > img {
	width: 100px;
	height: 100px;
}

#c_writeResumeCV_content li:nth-child(odd) > div {
	position: absolute;
	right: 0;
	bottom: 0;
}

#c_writeResumeCV_content li:nth-child(odd) > div img {
	margin: 20px 0 0 -15px;
}

#c_writeResumeCV_content li:nth-child(odd) > p {
	padding: 25px;
	text-align: left;
}

#c_writeResumeCV_content li:nth-child(even) > p {
	padding: 25px;
	text-align: right;
}

#c_writeResumeCV_content li:nth-child(even) > div {
	position: absolute;
	left: 0;
	bottom: 25px;
}

#c_writeResumeCV_content li:nth-child(even) > div img {
	margin: 20px 0 0 50px;
}

#c_writeResumeCV_content li:last-child {
	background: #00A6A4;
}

#c_writeResumeCV_content li:last-child > img {
	width: 65px;
	height: 65px;
}

#c_writeResumeCV_content li:last-child > p {
	text-align: center;
	color: white;
	padding: 0;
}

#c_writeResumeCV_content li:last-child > textarea {
	display: block;
	margin: 15px auto;
}

#c_writeResumeCV_content li:last-child > span {
	display: block;
	text-align: right;
	padding: 0 60px 25px 0;
}

/* 8.2 HELPING HAND - EXECUTING THE PERFECT COVER LETTER */

#c_executingperfectCV_banner {
	width: 100%;
	height: 350px;
	background-image: url('images/banner-executingperfectCV.jpg');
	background-size: 100%;
	position: relative;
	background-position: 0 -400px;
}

#c_executingperfectCV_banner p {
	color: white;
	font-size: 50px;
	text-align: center;
	width: 100%;
	
	padding-top: 25px;
	height: 150px;
	box-sizing: border-box;
	font-family: "Elkwood";
	
	position: absolute;
	bottom: 0;
}

#c_executingperfectCV_form {
	background: #00A6A4;
	color: white;
	width: 700px;
	padding: 25px 30px;
	text-align: center;
	font-family: "AvenirNextLTPro-Regular";
	box-shadow: 0 0 30px #000000;
	box-sizing: border-box;
}

#c_executingperfectCV_content li {
	width: 100%;
	background: white;
	margin-top: 30px;
	box-shadow: 0 0 20px #000000;
	box-sizing: border-box;
}

#c_executingperfectCV_content h2 {
	text-align: center;
	font-family: "Elkwood";
	color: #00A6A4;
	padding: 15px 0;
	font-weight: 500;
	font-size: 30px;
}

#c_executingperfectCV_content img {
	width: 100%;
}

#c_executingperfectCV_content p {
	text-align: center;
	font-family: "AvenirNextLTPro-Regular";
	padding: 15px 0;
}