/* Author: Mark Faderon */

@font-face { /* TITLES */
	font-family: "Elkwood";
	src: url('fonts/Elkwood.ttf');
}

@font-face { /* TEXT */
	font-family: "AvenirNextLTPro-Regular";
	src: url('fonts/AvenirNextLTPro-Regular.otf');
}

/* GLOBAL */

* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url('images/background.png');
	background-size: 50px;
	background-repeat: repeat;
}

ul {
	list-style-type: none;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.fontSizeSmall {
	font-size: x-small;
}

.verticalAlignTop {
	vertical-align: top;
}

.ulCircleStyle {
	list-style-image: url('images/circle.png');
}

input[type=checkbox].css-checkbox {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; width:1px; 
	margin:-1px;
	padding:0; 
	border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:24px;
	height:19px; 
	display:inline-block;
	line-height:19px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -19px;
}

label.css-label {
	background-image:url('images/checkbox.png');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#container {
	width: 1000px;
	min-height: 600px;
	margin: 0 auto;
	background: white;
}

/* HEADER */

header {
	width: 100%;
	height: 100px;
	background: white;
}

#logo {
	height: 70px;
	padding: 20px 0 0 15px;
	float: left;
}

header ul {
	font-family: "Elkwood";
	font-size: 0; /* removes invisible space */
	width: 207px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -103.5px;
}

header ul li {
	display: inline-block;
	font-size: large;
	padding: 10px;
	box-shadow: 1px 1px 5px #888888;
	background: #329EA1;
}

header ul li a {
	display: inline-block;
	color: black;
	padding: 0 4px;
	text-decoration: none;
	color: #329EA1;
	background: white;
}

header ul li#active {
	background: white;
}

header ul li#active a {
	text-decoration: underline;
}

#toolbarRight {
	float: right;
	height: 100px;
	width: 315px;
	margin-right: 45px;
	line-height: 100px;
}

#toolbarRight img {
	vertical-align: middle;
}

/* MAIN NAV */

#mainnav {
	width: 100%;
	height: 50px;
	background: #F2F2EF;
	font-family: "Elkwood";
	text-align: center;

	border-bottom: 15px solid #329EA1;
}

#mainnav ul {
	list-style-type: none;
	font-size: 0; /* removes invisible space */
}

#mainnav ul li {
	display: inline-block;
	font-size: large;
}

#mainnav ul li a {
	display: inline-block;
	line-height: 50px;
	height: 50px;
	text-decoration: none;
	padding: 0 15px;
	border-left: 1px solid #B3B3B3;
}

#mainnav ul li:last-child a {
	border-right: 1px solid #B3B3B3;
}

#mainnav ul li a:visited {
	color: black;
}

#mainnav ul li a:hover,
#mainnav ul li a#selected {
	color: white;
	background: #B3B3B3;
	text-decoration: underline;
}

nav#mainnav ul li a img {
	vertical-align: middle;
	padding-right: 5px;
}

nav#mainnav ul li:last-child a img {
	padding-right: 0;
	margin-left: -10px;
}

/* CONTENT */

#content {
	width: 700px;
	min-height: 900px;
	float: left;
	padding: 50px;
	background: #F3F3F3;
}

#form {
	background: #00A6A4;
	color: white;
	width: 700px;
	min-height: 400px;
	font-family: "AvenirNextLTPro-Regular";
	font-size: 20px;
	box-shadow: 0 0 30px #000000;
}

#form a {
	color: white;
}

#form ul li {
	margin-bottom: 25px;
}

#formHeader {
	padding: 10px 25px 0 50px;
}

#formHeader #heading {
	font-family: "Elkwood";
	text-decoration: underline;
	font-size: 50px;
	line-height: 100px;
}

#formHeader span.floatRight {
	font-size: small;
}

#formHeader span.floatRight span {
	vertical-align: middle;
}

#formFooter {
	clear: both;
	text-align: right;
	padding-right: 50px;
	width: 100%;
	height: 100px;
	padding-top: 25px;
	box-sizing: border-box; /* 100% width + padding */
}

#formFooter a.button {
	font-family: "Elkwood";
	background: #EFD21A;
	color: #329EA1;
	padding: 10px;
	font-size: 25px;
	text-decoration: none;
}


#sidebar {
	width: 200px;
	height: 1000px;
	float: right;
	padding-top: 25px;
	text-align: center;
	background: #17738F;
	box-sizing: border-box;
}

/* SUB NAV */

#subnav {
	width: 100%;
	height: 250px;
	clear: both;
}

#subnav_head {
	font-family: "Elkwood";
	background: #329EA1;
	width: 100%;
	height: 60px;
	line-height: 65px;
}

#subnav_head ul {
	text-align: center;
	color: white;
}

#subnav_head ul li {
	display: inline;
	padding-right: 75px;
	font-size: xx-large;
}

#subnav_head ul li:last-child {
	padding-right: 0;
}

#subnav_body {
	background: #F2F2EF;
	font-family: "AvenirNextLTPro-Regular";
	width: 100%;
	height: 300px;
}

#subnav_body a {
	color: #329EA1;
	text-decoration: none;
}

#subnav_body ul li a:hover {
	color: black;
	text-decoration: underline;
}

#subnav_body div {
	padding-top: 50px;
	height: 250px;
	float: left;
}

#subnav_Tools {
	width: 150px;
	padding-left: 160px;
}

#subnav_Company {
	width: 195px;
	padding-left: 10px;
}

#subnav_Connect {
	width: 190px;
}

footer {
	background: #272627;
	font-family: "AvenirNextLTPro-Regular";
	clear: both;
	height: 50px;
}

footer nav {
	text-align: center;
}

footer nav ul li {
	display: inline;
	color: #329EA1;
	padding-left: 50px;
	line-height: 50px;
}

footer nav ul li a {
	color: #329EA1;
	text-decoration: none;
}

footer nav ul li a:hover {
	text-decoration: underline;
}

/* EMPLOYERS - POST A JOB */

#e_postjobLeft,
#e_postjobRight {
	box-sizing: border-box;
	height: 425px;
}

#e_postjobLeft {
	padding-left: 75px;
}

#e_postjobRight {
 	margin-right: 50px;
}

#e_postjob_perTime input {
	margin: 3px 3px 3px 4px;
}

#e_postjob_perTime label {
	vertical-align: middle;
}

/* CREATIVES - WORK EXPERIENCE */

#c_workexp_banner {
	width: 700px;
	height: 300px;
	background: pink;
}

#c_workexp_StartY,
#c_workexp_EndY {
	width: 56px;
}

#c_workexpLeft,
#c_workexpRight {
	height: 300px;
}

#c_workexpLeft {
	padding-left: 50px;
}

#c_workexp_CurWorkHereCB {
	float: right;
	padding-right: 60px;
	line-height: 30px;
}

#c_workexpRight {
	padding-right: 30px;
}

/* CREATIVES - CONTACT DETAILS */

#c_cDetailsLeft {
	padding-left: 75px;
}

#c_cDetailsRight {
	padding-right: 85px;
}

/* HOME - LOGIN */

#login {
	float: right;
	height: 100%;
	padding: 15px;
	box-sizing: border-box;
	font-family: "AvenirNextLTPro-Regular";
}

#login input {
	box-shadow: 1px 1px 5px #888888;
	border: none;
	padding: 2px;
}

#loginIcon {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

#loginBtn {
	text-decoration: none;
	background: #CD68A8;
	color: white;
	padding: 2px 5px;
	font-family: "Elkwood";
}

label[for=rememberMe] {
	margin-right: 45px;
}

#login a {
	color: #00A6A4;
	text-decoration: none;
}

#loginContent {
	width: 100%;
	min-height: 667px;
	background-image: url('images/home-image.jpg');
	background-size: 100% 667px;
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding-top: 50px;
}

#loginContent p {
	color: white;
	font-size: 50px;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
	height: 150px;
	line-height: 150px;
	box-sizing: border-box;
	font-family: "Elkwood";
}

#homeImage {
	width: 100%;
}

